// bower:scss
// endbower

@import "fonts.css";
@import "animations.css";

$page-width: 1362px;
$page-height: 600px;
$font-base: 12px;
$contacto-link-color: #f6f6f6;
$menu-central-color: #00478c;
$menu-lateral-color: #f6f6f6;

div, p, img, ul, li, a {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

a {
    cursor: pointer;
    text-decoration: none;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $page-width;
    height: $page-height;
    margin-left: -1 * ($page-width / 2);
    margin-top: -1 * ($page-height / 2);
    overflow: hidden;

    .background {
        background-color: #292929;
        .img-background {
            max-width: 100%;
            height: auto;
            z-index: -1;
        }
    }
}

.float-div {
    display: block;
    position: absolute;  
}

.cabecera {
    top: 18px;
    left: 0px;
    right: 0px;
    height: 84px;
    background-image: url('../images/header-background-1362x84.png');
    z-index: 10;
    .logo-background {
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 268px;
        background-color: #FFFFFF;
        .logo {
            top: 0px;
            left: 0px;
            right: 0px;
            height: 142;
        }
    }
    .menu-central {
        top: 38px;
        left: 375px;
        bottom: 0px;
        right: 0px;
        ul {
            li {
                display: inline-block;
                list-style-type: none;
                line-height: 13px;
                margin-right: 68px;
                a, span {
                    font-family: ubunturegular;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 9pt;
                    color: $menu-central-color;
                }
                a:hover {
                    color: tint($menu-central-color, 20%);    
                }
                ul {
                    position: absolute;
                    text-indent: 8px;
                    li {
                        display: list-item;
                        a {
                            font-family: ubunturegular;
                            font-weight: bold;
                            text-transform: uppercase;
                            font-size: 7pt;
                            color: $menu-central-color;
                        }
                        a:hover {
                            color: tint($menu-central-color, 20%);    
                        }   
                    }
                }
            }
        }
    }
    .contactos-background {
        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 180px;
        background-color: #00478c;
        ul {
            margin-top: 15px;
            margin-right: 10px;
            text-align: right;
            li {
                line-height: 15px;
                list-style-type: none;
                font-family: ubuntubold;
                text-transform: uppercase;
                font-size: 5pt;
                color: $menu-lateral-color;
                a {
                    font-family: ubuntubold;
                    text-transform: uppercase;
                    font-size: 5pt;
                    color: $menu-lateral-color;
                }
                a:hover {
                    color: shade($menu-lateral-color, 20%);
                }
            }
        }
    }
}

.menu-lateral {
    top: 200px;
    left: 74px;
    bottom: 46px;
    right: 1180px;
    ul {
        li {
            list-style-type: none;
            line-height: 26px;
            a, span {
                font-family: ubunturegular;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 9pt;
                color: $menu-lateral-color;
            }
            a:hover {
                color: shade($menu-lateral-color, 20%);
            }
            ul {
                position: absolute;
                text-indent: 8px;
                li {
                    display: list-item;
                    line-height: 13px;  
                    a {
                        font-family: ubunturegular;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 7pt;
                        color: $menu-lateral-color;
                    }
                    a:hover {
                        color: shade($menu-lateral-color, 20%);    
                    }   
                }
            }
        }
    }
}

.cuerpo {
    top: 52px;
    bottom: 46px;
    left: 180px;
    right: 180px;
}

.pie {
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 46px;
    background-color: #292929;
    z-index: 10;
    .email {
        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 250px;
        text-align: center;
        line-height: 46px;
        a {
            font-family: ubunturegular;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 8pt;
            color: $contacto-link-color;
        }
        a:hover {
            color: shade($menu-lateral-color, 20%);
        }
    }
}

.home_main {
    width: 1002px;
    height: 502px;
    background-color: rgba(0,161,219,0.7);
    .message {
        top: 150px;
        left: 150px;
        bottom: 150px;
        right: 150px;
        p {
            font-family: ubunturegular;
            font-size: 10pt;
            color: #FFF;
            text-align: center;
        }
        .bold {
            font-weight: bold;
        }
        .italic {
            font-style: italic;
        }
    }
}   

.estudio_main {
    width: 1002px;
    height: 502px;
    background-color: rgba(0,161,219,0.7);
    .borde {
        top: 121px;
        left: 87px;
        bottom: 57px;
        right: 87px;
        background-color: rgba(255,255,255,0.49);
        .up-arrow {
            position: absolute;
            top: 55px;
            right: 37px;
        }
        .texto {
            top: 49px;
            left: 67px;
            bottom: 49px;
            right: 67px;
            overflow: hidden;
            background-color: rgba(255,255,255,1);
            p {
                font-family: ubunturegular;
                font-size: 10pt;
                color: #666;
                margin: 1rem;
            }
            .bold {
                font-weight: bold;
            }
            .italic {
                font-style: italic;
            }
            .subrayado {
                text-decoration: underline;
            }
        }
        .down-arrow {
            position: absolute;
            bottom: 55px;
            right: 37px;
        }
    }
}  

.galeria_main {
    width: 1002px;
    height: 502px;
    background-color: rgba(100,100,100,0.4);
    .imagen {
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        .imagen_principal {
            top: 0px;
            left: 0px;
            width: 1002px;
            height: 369px;
            overflow: hidden;
            background-image: url('../images/galeria-sin-imagen.png');
            .content {
                width: 2000px;
                height: 369px;
                margin-left: -500px;
                text-align: center;
                img {
                    width: auto;
                    height: 100%;
                    border: none;
                }
            }
        }
        .left-arrow {
            left: -22px;
            bottom: 0px;
            z-index: 100;
            height: 126px;
            line-height: 126px;
            vertical-align: middle;
        }
        .right-arrow {
            right: -22px;
            bottom: 0px;
            z-index: 100;
            height: 126px;
            line-height: 126px;
            vertical-align: middle;
        }
        .separator {
            top: 369px;
            left: 0px;
            bottom: 126px;
            right: 0px;
            background-color: rgba(0,71,140,1);
        }
        .container {
            top: 376px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            overflow: hidden;
            .thumbs {
                width: auto;
                height: 126px;
                white-space: nowrap;
                .thumb {
                    display: inline-block;
                    width: 167px;
                    height: 126px;
                    overflow: hidden;
                    background-image: url('../images/galeria-thumb-sin-imagen.png');
                    .content {
                        width: 1000px;
                        height: 126px;
                        margin-left: -416px;
                        text-align: center;
                        img {
                            width: auto;
                            height: 100%;
                            border:none;            
                        }
                    }
                }
            }
        }
    }
} 

.procrear_main {
    width: 1002px;
    height: 502px;
    background-color: rgba(0,161,219,0.7);
    .borde {
        top: 121px;
        left: 87px;
        bottom: 57px;
        right: 87px;
        background-color: rgba(255,255,255,0.49);
        .up-arrow {
            position: absolute;
            top: 55px;
            right: 37px;
        }
        .texto {
            top: 49px;
            left: 67px;
            bottom: 49px;
            right: 67px;
            overflow: hidden;
            background-color: rgba(255,255,255,1);
            p {
                font-family: ubunturegular;
                font-size: 10pt;
                color: #666;
                margin: 1rem;
            }
            .bold {
                font-weight: bold;
            }
            .italic {
                font-style: italic;
            }
            .subrayado {
                text-decoration: underline;
            }
        }
        .down-arrow {
            position: absolute;
            bottom: 55px;
            right: 37px;
        }
    }
}  

.proyectos_main {
    width: 1002px;
    height: 502px;
    background-color: rgba(0,161,219,0.7);
    .imagen {
        top: 85px;
        left: 90px;
        bottom: 24px;
        right: 520px;
        .imagen_principal {
            top: 0px;
            left: 0px;
            width: 392px;
            height: 294px;
            overflow: hidden;
            background-image: url('../images/proyectos-sin-imagen.png');
            .content {
                width: 2000px;
                height: 294px;
                margin-left: -804px;
                text-align: center;
                img {
                    width: auto;
                    height: 100%;
                    border:none;            
                }
            }
        }
        .separator {
            top: 294px;
            left: 0px;
            bottom: 93px;
            right: 0px;
            background-color: rgba(0,71,140,1);
        }
        .left-arrow {
            left: -22px;
            bottom: 0px;
            z-index: 100;
            height: 94px;
            line-height: 94px;
            vertical-align: middle;
        }
        .right-arrow {
            right: -22px;
            bottom: 0px;
            z-index: 100;
            height: 94px;
            line-height: 94px;
            vertical-align: middle;
        }
        .container {
            top: 300px;
            left: 0px;
            bottom: 0px;
            right: 0px;         
            overflow: hidden;
            .thumbs {
                width: auto;
                height: 131px;
                white-space: nowrap;
                .thumb {
                    display: inline-block;
                    width: 131px;
                    height: 94px;
                    overflow: hidden;
                    background-image: url('../images/proyectos-thumb-sin-imagen.png');
                    .content {
                        width: 1000px;
                        height: 94px;
                        margin-left: -434px;
                        text-align: center;
                        img {
                            width: auto;
                            height: 100%;
                            border:none;            
                        }
                    }
                }
            }
        }
    }
    .up-arrow {
        position: absolute;
        top: 91px;
        right: 45px;
    }
    .texto {
        top: 85px;
        left: 549px;
        bottom: 24px;
        right: 75px;
        background-color: rgba(255,255,255,0.49);
        padding: 1rem;
        overflow: hidden; 
        p {
            white-space: pre-wrap;
            font-family: ubunturegular;
            font-size: 10pt;
            color: #666;
            margin-bottom: 1rem;
        }
    }
    .down-arrow {
        position: absolute;
        bottom: 30px;
        right: 45px;
    }
} 

.contacto_main {
    width: 1002px;
    height: 502px;
    background-color: rgba(0,161,219,0.7);
    .borde {
        top: 121px;
        left: 87px;
        bottom: 57px;
        right: 87px;
        background-color: rgba(255,255,255,0.49);
        .texto {
            top: 49px;
            left: 67px;
            bottom: 49px;
            right: 67px;
            background-color: rgba(255,255,255,1);
            table {
                width: 100%;
                td {
                    padding: 5px;
                }
                label {
                    font-family: ubunturegular;
                    font-size: 10pt;
                    color: #666;
                }
                input {
                    width: 149px;
                    height: 20px;
                    border: 1px solid #888;
                    padding: 0px;
                    margin: 0px;
                    box-shadow: initial;
                    border-radius: 5px;
                    font-family: ubunturegular;
                    font-size: 9pt;
                    color: #444;
                }
                input:focus {
                    background-color: #69AEC9;
                }
                textarea {
                    border: 1px solid #888;
                    padding: 0px;
                    margin: 0px;
                    width: 607px;
                    height: 75px;
                    box-shadow: initial;
                    border-radius: 5px;
                    font-family: ubunturegular;
                    font-size: 9pt;
                    color: #444;
                }
                textarea:focus {
                    background-color: #69AEC9;
                }
                button {
                    width: 70px;
                    height: 25px;
                    padding: 0px;
                    font-family: ubunturegular;
                    font-size: 10pt;
                    color: #444;
                }
                button:focus {
                    border: 1px solid #69AEC9;
                    border-radius: 3px;
                    outline: 0;
                }
                .cel_normal {
                    vertical-align: middle;
                }
                .cel_textarea {
                    vertical-align: top;
                }
                .cel_button {
                    text-align: center;
                    vertical-align: middle;
                }
                button:disabled {
                    color: #AAA;
                }
            }
            div.info-message {
                border: 1px solid #57A382;
                background-color: #78E2B4;
                margin: 10px;
                padding: 10px;
                border-radius: 5px;
                p {
                    font-family: ubuntubold;
                    font-weight: bold;
                    font-size: 10pt;
                    color: #444;    
                    text-align: center;
                }
            }
        }
    }
}  
