<div class="estudio_main float-div">
    <div class="borde float-div">
    	<div class="texto float-div">
			<p><span class="bold">Ariadna Guarino</span> – Egresada de la Universidad de Mar del Plata, como Arquitecta. El título solo formaliza una vocación que tiene desde pequeña, cuando en la adolescencia comienza a trabajar en cuestiones de índole técnica junto a experimentados profesionales. El recorrido por ladrillos y cimientos marcan su juventud y la estimulan a capacitarse en otras áreas de la arquitectura como Urbanismo, Ingeniería Ecológica y la ejecución de obra con materiales no tradicionales, entre otros.</p>
			<p class="bold">El Estudio</p>
			<p>El Estudio de Arquitectura Ariadna Guarino brinda soluciones integrales y respuestas concretas a los desafíos planteados. En este sentido, el estudio se convierte en un lugar de búsqueda donde se reformulan las temáticas convencionales de la arquitectura considerando el entorno, el clima, los factores económicos y personales que podrían incidir en las personas que habitarán los espacios. </p>
			<p>La metodología de trabajo consiste en la recolección de información y el análisis del problema o inquietud desde distintos puntos de vista, en pos de garantizar los mejores resultados. </p>
			<p>La organización en cuestiones administrativas, de documentación y comunicación hacen que los desarrollos puedan ser concretados en tiempo y forma. </p>
			<p>La cordialidad, el respeto y una atención personalizada son la clave para poder disfrutar del proceso. Por eso en cada emprendimiento se busca la participación activa del cliente para lograr la concreción de proyectos que cumplan plenamente con sus expectativas.</p>
			<p>La filosofía de Estudio busca reinterpretar los deseos y las necesidades de los clientes para ofrecer la mejor solución. A lo largo del proyecto se trabaja ponderando el diseño como principal motivador, e involucrando a los clientes convirtiéndolos en aliados para dejar un aporte único a través del enriquecimiento de los sitios intervenidos.</p>
		</div>
    </div>
</div>
