<div class="home_main float-div">
    <div class="message float-div">
        <p class="bold">La arquitectura es el arte de dar respuestas a una necesidad, de construir 
        cobijos sólidos para los humanos, pero también el arte de responder a los 
        deseos, a los sueños…  Es solo ahí, cuando cumple esas premisas, donde 
        se convierte en arquitectura de verdad.</p>
        <p><br></p>
        <p class="bold">Renzo Piano</p>
        <p class="italic">Arquitecto</p></p>
    </div>
</div>
