<div class="procrear_main float-div" ng-controller="ProcrearCtrl">
    <div class="borde float-div">
    	<div class="texto float-div">
			<p class="bold">PRO.CRE.AR</p>
			<p>El Gobierno Nacional ha puesto en funcionamiento el programa Procrear, una línea de créditos para distintos segmentos sociales, en pesos y a tasa fija diferenciada por ingreso, para que los habitantes puedan acceder a su casa propia. La iniciativa no sólo atiende una demanda crucial de la población, sino que moviliza la economía y los recursos humanos en torno a varios sectores. En ese sentido, los arquitectos son un eslabón importante en el proceso, puesto que contribuyen a la gestión eficaz de los recursos y del tiempo de construcción, decisivo en la concreción de la vivienda y al diseño a medida de las necesidades de cada usuario.</p>
			<p><span class="bold">El Estudio de Arquitectura Ariadna Guarino</span> garantiza un proyecto personal y único para cada familia, en el cual se contempla la evolución familiar. Se busca optimizar el prototipo para que la casa tenga crecimiento y se pueda ir ampliando no sólo desde el punto de vista estético sino también funcional. El estudio le da un valor agregado a la propiedad y acompaña al tomador del Crédito Hipotecario durante toda la obra. La secuencia de la obra y cómo se va a gastar el dinero es fundamental, para llegar al último desembolso con la evolución de la obra en condiciones ideales.</p>
		</div>
    </div>
</div>
